<?php
//---------------------------------------------------------------------------------------------------
// Proyecto: Comerbien
// Archivo: config.php
//---------------------------------------------------------------------------------------------------
// Descripcion: Variables globales para el proyecto
// Modifica este archivo para que se ajuste a tus necesidades concretas.
//---------------------------------------------------------------------------------------------------

// Todas las constantes declaradas en este fichero empiezan 
// por CC para denotar su caracter global a toda la aplicación

//Conexion a la base de datos
define('CC_DB_HOST','localhost');
define('CC_DB_LOGIN','comerbien');//escriba el usuario de la BD.
define('CC_DB_CLAVE','adelgazacierto');//escriba la clave del usuario.
define('CC_DB_DATABASE','comerbien');//escriba la BD.

// Tema que vamos a utilizar para definir la apariencia del sitio
define('CC_THEME', 'minica');

// Que tipo de autenticación va a uilizarse (login_sso ó login_basico).
define('CC_TIPO_LOGIN','login_basico');

//Directorios
define('CC_DIR_BASE','/Users/juanan/www/recetas/aplicacion/');
?>
